/* CONTACTO */
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

    .iglogo, .wsplogo {
      a {
        display: block;
        text-align: center;
      }
  
      img {
        max-width: 400px;
        height: auto;
        border-radius: 50%;
    }
  }

form {
    margin: 5px;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

form input {
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #450000;
    color: #fff;
    cursor: pointer;
  }
  

  input::placeholder {
    font-style: italic;
  }

/* CONTACTO */
/* Para dispositivos pequeños*/
@media (max-width: 576px) {
    form {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    form input {
        max-width: 100%;
    }
}

/* Para dispositivos medianos*/
@media (min-width: 577px) and (max-width: 991px) {
    form input {
        max-width: 80%;
    }
}

/* Para dispositivos grandes*/
@media (min-width: 992px) {
    form {
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
    }

    form input {
        max-width: 100%;
    }
}

/* Para dispositivos pequeños*/
@media (max-width: 576px) {
    .iglogo img {
        height: 150px;
    }

    .iglogo a {
        left: 10px;
        bottom: 10px;
    }

    .wsplogo img {
        height: 200px;
    }

    .wsplogo a {
        left: 10px;
        bottom: 10px;
    }
}

/* Para dispositivos medianos*/
@media (min-width: 577px) and (max-width: 991px) {
    .iglogo img {
        height: 200px;
    }

    .iglogo a {
        left: 30px;
        bottom: 30px;
    }

    .wsplogo img {
        height: 250px;
    }

    .wsplogo a {
        left: 20px;
        bottom: 40px;
    }
}
