/* TIENDA */
h2{
    background-color: rgb(25, 0, 0);
    color: white;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    align-content: center;
    text-align: center;
    animation: fadeInOut 2s ease infinite;
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.card{
    display: flex;
    position: relative;
    align-self: auto;
}
.btn{
    background-color: red;
}

